# These times don't make a whole lot of sense because I am currently living
# 6 hours away from my server.

# Every morning at 4 AM.
0 4 * * * cd ~/sleepybymail/ && ~/.pyenv/versions/2.7.6/bin/python.27 sendmorning.py 2>&1 | logger -t sleepybymail

# Every day at 5am, 7am, 8am, 9am, 10am, 11am
0 5 * * * cd ~/sleepybymail/ && ~/.pyenv/versions/2.7.6/bin/python.27 sendcheckup.py 2>&1 | logger -t sleepybymail
0 7 * * * cd ~/sleepybymail/ && ~/.pyenv/versions/2.7.6/bin/python.27 sendcheckup.py 2>&1 | logger -t sleepybymail
0 8 * * * cd ~/sleepybymail/ && ~/.pyenv/versions/2.7.6/bin/python.27 sendcheckup.py 2>&1 | logger -t sleepybymail
0 9 * * * cd ~/sleepybymail/ && ~/.pyenv/versions/2.7.6/bin/python.27 sendcheckup.py 2>&1 | logger -t sleepybymail
0 10 * * * cd ~/sleepybymail/ && ~/.pyenv/versions/2.7.6/bin/python.27 sendcheckup.py 2>&1 | logger -t sleepybymail
0 11 * * * cd ~/sleepybymail/ && ~/.pyenv/versions/2.7.6/bin/python.27 sendcheckup.py 2>&1 | logger -t sleepybymail

# * * * * * *
# | | | | | | 
# | | | | | +-- Year              (range: 1900-3000)
# | | | | +---- Day of the Week   (range: 1-7, 1 standing for Monday)
# | | | +------ Month of the Year (range: 1-12)
# | | +-------- Day of the Month  (range: 1-31)
# | +---------- Hour              (range: 0-23)
# +------------ Minute            (range: 0-59)
